@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
.App {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}
button {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}
input {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}
select {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}
div {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}
textarea {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}
h2 {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 24px;
  letter-spacing: 0.5px;
}
span {
  font-size: 15px;
  letter-spacing: 0.5px;
}
label {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}
table {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
}
p {
  letter-spacing: 0.5px;
}
span {
  letter-spacing: 0.5px;
}
a {
  letter-spacing: 0.5px;
}

.button-top {
  position: fixed;
  bottom: 50px; /* 화면 하단에서의 여백 */
  right: 50px; /* 화면 오른쪽에서의 여백 */
  z-index: 999; /* 다른 요소 위에 보이도록 */

  color: black;

  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 35px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  padding: 18px 14px;
}
