/* FOOTER */
.MyFooter {
  position: relative;
  margin: auto;
  height: 0px;
  width: 1550px;
}
footer {
  /* position: absolute;
    top: auto;
    left: 0; */
  background-color: white;
  margin-top: 50px;
  width: 100%;
  min-width: 1270px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}
footer div {
  width: 20%;
  padding: 10px;
}
footer .foot_3 p {
  font-size: 14px;
}
footer .foot_4 select {
  width: 70%;
  cursor: pointer;
}
