.BestItem .categoryBtn ul {
  display: flex;
  margin: 0;
}
.BestItem .categoryBtn li {
  list-style-type: none;
  margin-right: 20px;
}

.BestItem .categoryBtn button {
  color: black;
  font-size: 16px;
  /* font-weight: bold; */
  background-color: white;
  padding: 5px 22px;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 16px;

  cursor: pointer;
}
.BestItem .categoryBtn button.selected {
  font-weight: bold;
  border: 2px solid black;
}
.BestItem .item_dummy {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 375px);
  justify-items: center;
}
.BestItem .item_dummy > div {
  justify-content: center;
}
